<h1 mat-dialog-title><mat-icon color="warn">delete</mat-icon> Confirm Delete</h1>
<div mat-dialog-content>
  <p>Delete the <b>{{ data.model }}</b> record?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No Thanks</button>
  <button mat-button [mat-dialog-close]="data.id">Ok</button>
</div>