/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}

.list-card {
  max-width: 100%;
}  

.card-title {
  font-size: 20px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-column-actions {
  width: 10vw;
  text-align: center;
  font-weight: bold;
}