<mat-card class="list-card">
    <mat-card-header>
        <mat-card-title class="card-title">Vehicle Management</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="col">
            <div class="col-sm">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Plate search" #input>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <button mat-raised-button color="warn">Add Vehicle +</button>
            </div>
          </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <ng-container matColumnDef="plate">
              <th mat-header-cell *matHeaderCellDef> Plate </th>
              <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
            </ng-container>
          
            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef> Model </th>
              <td mat-cell *matCellDef="let element"> {{element.model}} </td>
            </ng-container>
          
            <ng-container matColumnDef="manufacturer">
              <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
              <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.status == true ? 'Active' : 'Inactive'}} 
              </td>
            </ng-container>

            <!-- Special extra column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let row" >
                <button mat-icon-button color="info" matTooltip="Edit Vehicle" [routerLink]="['/vehicle', row.plate]" routerLinkActive="router-link-active" >
                  <mat-icon >edit_note</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Delete Vehicle" (click)="openDialogDelete(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row">
            </tr>
          
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator 
          [pageSizeOptions]="[5, 10, 20]" 
          showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
