
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="drawer">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


