<mat-card class="list-card">
    <mat-card-header>
        <mat-card-title class="card-title">Vehicle Update</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="vehicleForm" (ngSubmit)="submit()">

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Plate</mat-label>
                    <input matInput placeholder="Plate" formControlName="plate" [(ngModel)]="vehicle.plate">
                </mat-form-field>  
            </div>
            
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Model</mat-label>
                    <input matInput placeholder="Model" formControlName="model" [(ngModel)]="vehicle.model">
                </mat-form-field> 
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Manufacturer</mat-label>
                    <input matInput placeholder="Manufacturer" formControlName="manufacturer" [(ngModel)]="vehicle.manufacturer">
                </mat-form-field> 
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Color</mat-label>
                    <input matInput placeholder="Color" formControlName="color" [(ngModel)]="vehicle.color">
                </mat-form-field> 
            </div>

            <div class="form-group">
                <button mat-raised-button color="primary" type="submit" [disabled]="!vehicleForm.valid">Update Vehicle</button>
            </div>
        </form>       
    </mat-card-content>
</mat-card>


