<div class="menu-header">
    <img src="assets/imgs/alelo-logo.png" class="logo" />
    <p class="title-system">Alelo Frota</p>
</div>
<div class="menu">
    <mat-selection-list #shoes [multiple]="false">
        <mat-list-option class="menu-items">
            <mat-icon mat-list-icon>view_quilt</mat-icon>
            <div mat-line>Dashboard</div>
        </mat-list-option>
        <mat-list-option class="menu-items" [routerLink]="['/vehicle']" routerLinkActive="router-link-active" >
            <mat-icon mat-list-icon>directions_car</mat-icon>
            <div mat-line>Vehicle</div>
        </mat-list-option>
        <mat-list-option class="menu-items">
            <mat-icon mat-list-icon>stacked_bar_chart</mat-icon>
            <div mat-line>Reports</div>
        </mat-list-option>
      </mat-selection-list>
</div>


