.menu-header{
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}

.logo {
    width: 25vh;
}

.title-system {
    font-size: 42px;
    color: #888888;
    font-weight: 600;
}

.menu {
    font-size: 14px;
    width: 80%;
    margin: auto;    
}

.menu-items {
    color: #888888;
    font-weight: 600;
}